.about{
	background: url(../images/about-hotel-pattern.png) repeat-x  #ffffea;
	position: relative;
    padding: 50px 0;

	.bubble-text {
		position: absolute;
		right:0;
		top:0;
		span{
			color: $text-color-primary;
			font-size:17px;
			font-family: $font-family-secondary;
			line-height: 1.18;
			letter-spacing: 0.7px;
			font-weight: 700;
			width:63px;
			top: 72px;
		    position: absolute;
		    left: 19px;
		}
	}

	.about-info{
		text-align: center;

		.first-line{
			font-size: 17px;
  			font-weight: bold;
  			color: $text-color-primary;
  			line-height: 1.24;
  			letter-spacing: 1px;
  			background: #ffff96;
  			display: inline-block;
		}

		.second-line {
			font-size: 18px;
  			font-weight: bold;
  			line-height: 1.67;
  			letter-spacing: 0.9px;
  			color: $text-color-primary;
  			display: block;
		}

		.last-line {
			font-size: 25px;
			border-bottom: 1px solid #88867e;
			display: table;
			margin: 0 auto;
		}
	}

	.about-description{
		text-align: center;
		max-width: 767px;
		margin: 20px auto;
	}

	.first-amenity{
		.left-side{
			width:50%;
			float:left;
		}
		.right-side{
			width:50%;
			float:left;

			a{
				font-size: 15px;
				color: #ffffff;
				line-height: 1.33;
				text-align: center;
				background: $text-color-primary;
				padding: 10px 20px;
			    max-width: 250px;
			    display: block;
			}
		}
	}

	.second-amenity{
		.left-side{
			width:50%;
			float:left;
		}
		.right-side{
			width:50%;
			float:left;
		}
	}

	.third-amenity{
		.left-side{
			width:50%;
			float:left;
		}
		.right-side{
			width:50%;
			float:left;
		}
	}
}