footer {
	border-bottom: 73px solid #1a489c;
    padding-bottom: 36px;

	.footer-wrapper{
		border-top: 1px solid #949595;
		padding-top:30px;
		@media (max-width: 980px) {
			padding-bottom: 30px;
		}
	}

	@media (max-width: 980px) {
		padding: 0 20px;
	}

	.footer-images {
		float: right;
		margin-right: 60px;
    	margin-top: 3px;
    	@media (max-width: 980px) {
    		margin-right: 0;
    	}
    	@media (max-width: 767px) {
    		float: none;
    		margin-right: 0;
    	}

		i {
			display: block;
			margin: 0 auto;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		.button {
			margin: 36px auto 0;
			max-width: 180px;
			@media (max-width: 767px) {
				margin:36px auto;
			}
		}
	}

	.footer-text {
		float: left;
		max-width: 660px;
		font-size: 14px;
		color: #403d3c;
		line-height: 1.57;
		margin-left: 99px;
		@media (max-width: 980px) {
    		max-width: 430px;
    		margin-left: 0;
    	}
		@media (max-width: 767px) {
			margin-left: 0;
			float: none;
		}
		p {
			display: inline-block;
			margin: 4px 0 3px;
			span {
				text-align: center;
				display: block;
			}
		}

		ul {
			margin: 0 0 0 70px;
			line-height: 1.29;
			@media (max-width: 980px) {
				margin: 0 0 0 18px;
			}
			@media (max-width: 767px) {
				margin:0;
			}
		}
	}
}
