footer {
	border-bottom: 50px solid #1a489c;

	.footer-wrapper{
		border-top: 1px solid #949595;
		padding-top:30px;
	}

	@media (max-width: 980px) {
		padding: 0 20px;
	}

	.footer-images {
		float: right;

		i {
			display: block;
			margin: 0 auto;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		.button {
			margin: 20px auto 0;
		}
	}

	.footer-text {
		float: left;
		max-width: 660px;
		font-size: 14px;
		color: #403d3c;
		line-height: 1.57;

		p {
			display: inline-block;
			span {
				text-align: center;
				display: block;
			}
		}

		ul {
			margin: 0 0 0 50px;
			line-height: 1.29;
		}
	}
}
