.form-container {
    position: relative;
    color: #213046;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;

    h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.02;
        letter-spacing: 3.1px;
        position: relative;
        display: table;
        margin: 0 auto;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            background: #f6f639;
            height: 10px;
            bottom: -4px;
            right: 0;
            opacity: 0.5;
        }
    }

    .text-input {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.02;
        letter-spacing: 3.1px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            background: #f6f639;
            height: 10px;
            bottom: -4px;
            right: 0;
            opacity: 0.5;
        }
    }

    .form-btn {
        background: #cccccc;
        color: #6b7380;
        border: none;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        min-width: 285px;
        margin: 25px auto 20px;
        display: block;
        cursor: default;
        @media (max-width: 767px) {
            width: 100%;
            min-width: auto;
        }
    }
    .form-btn.active {
        background: #fad25d;
        color: #213046;
        cursor: pointer;
    }

    form {
        padding: 27px 30px;
        display: table;
        margin: 0 auto;
        @media (max-width: 767px) {
            padding: 27px 20px;
        }
    }
}
.radio-control {
    position: relative;
    margin-bottom: 8px;
    label.active {
        background: #feffe9;
        border: 1px solid #213046;
    }
    label {
        cursor: pointer;
        display: block;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        overflow: auto;
        &:hover,
        &:focus {
            background: #feffe9;
            border: 1px solid #213046;
        }

        div {
            overflow: auto;
            margin: 3px 0;
            @media (max-width: 767px) {
                margin: 15px 0;
            }
            span {
                display: inline-block;
                background: #ec407a;
                border-radius: 3px;
                color: #fff;
                text-align: center;
                padding: 1px 7px;
                top: -13px;
                position: relative;
                margin-left: 15px;
                margin-right: 10px;
                @media (max-width: 767px) {
                    display: block;
                    float: left;
                    margin-left: 45px;
                    margin-right: 20px;
                    top: 8px;
                }
                @media (max-width: 470px) {
                    margin-left: 30px;
                    margin-right: 7px;
                }
            }
            img {
                float: left;
                margin-left: 50px;
                @media (max-width: 767px) {
                    display: none;
                }
            }
            p {
                max-width: 242px;
                display: inline-block;
                margin: 24px 0 0;
                @media (max-width: 767px) {
                    margin: 0;
                }
                @media (max-width: 380px) {
                    max-width: 180px;
                    font-size: 12px;
                }
            }
        }
    }
    input {
        position: absolute;
        top: 43%;
        left: 18px;
        width: 16px;
        height: 16px;
        @media (max-width: 767px) {
            top: 40%;
        }
        @media (max-width: 470px) {
            left: 10px;
        }
    }
}
.input-wrapper {
    margin-top: 32px;
    .input-control {
        width: 50%;
        float: left;
        text-align: center;
        @media (max-width: 767px) {
            width: 100%;
            float: none;
        }
        input {
            display: block;
            margin: 25px 0;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            min-width: 240px;
            padding: 11px 0;
            text-align: center;
            @media (max-width: 767px) {
                width: 100%;
                min-width: auto;
            }
        }
        input.error {
            border: 1px solid red;
        }
    }
    .input-control:first-child {
        input {
            margin-right: 20px;
        }
    }
}

.checkbox-control {
    margin-top: 16px;
    margin-left: 18px;
    input {
        width: 16px;
        height: 16px;
    }
    input.error {
        outline: 1px solid red;
    }
}
.form-title {
    background: #1f3147;
    p {
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 43px;
        padding: 10px 10px 20px;
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 20px;
        }
        span {
            display: block;
            font-size: 21px;
            margin: 19px 0 0;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}

.form-description {
    max-width: 400px;
    margin: 32px auto 39px;
    text-align: center;
    line-height: 2;
    @media (max-width: 767px) {
        padding: 0 10px;
    }
    span {
        border-bottom: 2px dashed #007bff;
        display: inline;
        @media (max-width: 767px) {
            border-bottom: none;
        }
    }
}
