.mfp-hide {
    display: none;
}

.popup-container {
    background: #fff;
    border-radius: 10px;

    h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.02;
        letter-spacing: 3.1px;
        position: relative;
        display: table;
        margin: 0 auto;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            background: #f6f639;
            height: 10px;
            bottom: -4px;
            right: 0;
            opacity: 0.5;
        }
    }

    .form-btn {
        background: #cccccc;
    }
    .form-btn.active {
        background: #fed25e;
    }
}
.mfp-bg {
    background: #666566;
    opacity: 0.9;
}

.popup-title {
    background: #1f3147;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    p {
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        span {
            display: block;
            font-size: 12px;
        }
    }
}

.popup-description {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    span {
        border-bottom: 2px dashed #007bff;
        display: inline;
    }
}
