.camp {
	@media (max-width: 980px) {
		padding: 0 20px;
	}
	img {
		@media (max-width: 980px) {
			max-width: 100%;
		}
	}
	.first-section {
		font-family: $font-family-secondary;
		ul {
			li {
				width: 37%;
				margin: 44px 3.5% 0 0;
				float: left;
				@media (max-width: 767px) {
					width: 100%;
					margin: 0;
					float: none;
				}
				&:first-child {
					margin-left: 12%;
					@media (max-width: 767px) {
						margin-left: 0;
					}
				}

				img {
					box-shadow: 5px 5px $text-color-primary;
					@media (max-width: 767px) {
						width: 98%;
					}
				}
				.camp-info {
					> span {
						font-size: 30.4px;
						font-weight: bold;
						line-height: 0.89;
						letter-spacing: 1.1px;
						background: #ffffc1;
						width: 98px;
						height: 98px;
						box-shadow: 5px 5px #1e489d;
						border-radius: 100px;
						display: inline-block;
						padding: 30px 0;
						text-align: center;
						float: left;
						top: -26px;
						position: relative;
						margin: 0 25px 0 0;
					}

					p {
						font-size: 20px;
						font-weight: bold;
						line-height: 1.2;
						letter-spacing: 0.7px;
						margin-top: 16px;
						@media (max-width: 767px) {
							font-size: 19px;
						}

						span {
							font-size: 13px;
							font-weight: normal;
							line-height: 2.07;
							letter-spacing: 0.5px;
						}

						.second-line {
							line-height: 1.07;
							letter-spacing: 0.5px;
							font-size: 13px;
							display: block;
						}
					}
				}
			}
			.first-element {
				margin-left: 8.5% !important;
				@media (max-width: 980px) {
					margin-left: 0 !important;
				}
			}
			.second-section {
				width: 27%;
				position: relative;
				margin: 37px 0 0 14px;
				@media (max-width: 980px) {
					width: 31.5%;
				}
				@media (max-width: 767px) {
					width: 100%;
					margin: 0;
				}
				&:last-child {
					.camp-info > span {
						top: -15px;
					}
					p {
						margin: 6px 0 0;
					}
				}
				img {
					box-shadow: 5px 5px $text-color-primary;
				}

				.camp-info {
					> span {
						font-size: 25.4px;
						font-weight: bold;
						line-height: 0.89;
						letter-spacing: 1.1px;
						background: #ffffc1;
						width: 71px;
						height: 71px;
						box-shadow: 5px 5px #1e489d;
						border-radius: 100px;
						display: inline-block;
						padding: 20px 0;
						text-align: center;
						float: left;
						top: -10px;
						position: relative;
						margin: 0 20px 0 0;
					}

					p {
						font-size: 12px;
						font-weight: bold;
						line-height: 1.27;
						letter-spacing: 0.4px;

						span {
							font-size: 9.8px;
							font-weight: normal;
							line-height: 2.07;
							letter-spacing: 0.3px;
							display: block;
						}
					}
				}

				h3 {
					font-size: 46.1px;
					font-weight: bold;
					line-height: 1.27;
					letter-spacing: 1.4px;
					color: #ffffff;
					position: absolute;
					top: 44px;
					left: 55px;
					display: none;
					@media (max-width: 980px) {
						top: 12%;
						left: 16%;
						font-size: 45px;
					}
					@media (max-width: 767px) {
						top: 34%;
						left: 40%;
					}
					@media (max-width: 540px) {
						top: 19%;
						left: 25%;
					}
				}

				.info-wrapper {
					p {
						max-width: 85px;
						float: left;
						padding-left: 10px;
						margin: 10px 0 0;
						&:first-child {
							font-size: 13px;
							width: 80px;
							padding-left: 0;
						}
					}
				}
			}

			.slick-dots {
				position: relative;
				bottom: 0;
				left: auto;
				margin: 15px 0 30px;
				display: table;
				margin: 15px auto;

				li {
					display: block;
					float: left;
					background: #d6d7ec;
					font-size: 0;
					width: 12px;
					height: 12px;
					margin: 0 10px;
					border-radius: 100px;
					cursor: pointer;

					button {
						background: none;
						border: none;
					}
				}
				li.slick-active {
					background: #1e489d;
				}
			}
		}
	}

	.camp-bottom-section {
		> p {
			padding-left: 80px;
			margin-bottom: 8px;
			@media (max-width: 767px) {
				padding-left: 0;
				text-align: right;
			}
			@media (max-width: 540px) {
				margin-bottom: 15px;
				margin-top: 20px;
			}
		}
		.camp-bottom-info {
			padding: 0 0 90px;
			position: relative;
			margin-bottom: -10px;
			@media (max-width: 767px) {
				padding: 0;
				margin-bottom: -15px;
			}
			p {
				font-size: 20px;
				color: $text-color-primary;
				display: table;
				margin: 0 auto;
				border-bottom: 2px solid #ff4178;
				position: relative;
				padding: 0 20px 4px;
				&:after {
					content: '';
					border: solid #ff4178;
					border-width: 0 2px 2px 0;
					display: inline-block;
					padding: 5px;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					position: absolute;
					left: 48%;
					bottom: -7px;
				}
				&:before {
					content: '';
					position: absolute;
					height: 2px;
					width: 12px;
					background: #ffffff;
					bottom: -2px;
					left: 48%;
				}
			}

			.button {
				margin: 26px auto 0;
				padding: 10px 15px;
				max-width: 176px;
			}

			i {
				position: absolute;
				right: 63px;
				top: 0px;
				@media (max-width: 980px) {
					right: 0;
				}
				@media (max-width: 767px) {
					position: relative;
				}
				&:first-child {
					left: 15%;
					@media (max-width: 980px) {
						left: 0;
					}
					@media (max-width: 767px) {
						display: none;
					}
				}
				&:last-child {
					right: 59px;
					bottom: 0;
					z-index: -1;
					@media (max-width: 980px) {
						right: 0;
					}
					@media (max-width: 767px) {
						right: auto;
						display: table;
						margin: 30px auto 0;
					}
					@media (max-width: 540px) {
						right: 18px;
					}
				}
			}
		}
	}

	.camp-title {
		font-family: $font-family-secondary;
		position: relative;
		@media (max-width: 767px) {
			display: table;
			margin: 0 auto 25px;
		}
		.bubble-text {
			color: $text-color-primary;
			font-size: 17px;
			font-family: $font-family-secondary;
			line-height: 1.18;
			letter-spacing: 0.7px;
			font-weight: 700;
			width: 63px;
			top: 27px;
			position: absolute;
			left: 13px;
		}

		.bubble-text-wrap {
			position: absolute;
			left: 105px;
			top: 15px;
			@media (max-width: 980px) {
				left: 5%;
			}
			@media (max-width: 800px) {
				left: -2%;
			}
			@media (max-width: 767px) {
				left: -90px;
				top: 0px;
			}
			@media (max-width: 540px) {
				left: 0;
			}
		}
		.icon-camp-title-bubble {
			float: left;
		}

		.camp-title-info {
			i {
				position: absolute;
				right: 102px;
				top: 17px;
				@media (max-width: 980px) {
					right: -19px;
				}
				@media (max-width: 767px) {
					right: -35px;
					bottom: -32px;
					top: auto;
				}
				@media (max-width: 540px) {
					right: 0;
					bottom: -27px;
				}
				@media (max-width: 380px) {
					right: -40px;
					bottom: -40px;
				}
			}

			p {
				font-size: 21px;
				font-weight: bold;
				line-height: 1.43;
				letter-spacing: 0.1px;
				width: 44%;
				float: left;
				padding: 25px 0 0 197px;
				@media (max-width: 980px) {
					padding: 25px 15px 0 75px;
					text-align: right;
				}
				@media (max-width: 800px) {
					padding: 25px 0 0 50px;
					width: 42%;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					text-align: left;
					padding: 0;
				}
				@media (max-width: 540px) {
					font-size: 16px;
					padding: 0 0 0 90px;
				}
				&:last-child {
					font-size: 18px;
					line-height: 2.05;
					padding: 0;
					width: 40%;
					@media (max-width: 980px) {
						width: 52%;
						text-align: right;
						padding-right: 15px;
					}
					@media (max-width: 800px) {
						width: 58%;
						text-align: left;
					}
					@media (max-width: 767px) {
						width: 100%;
						font-size: 16px;
					}
					@media (max-width: 540px) {
						font-size: 12px;
					}
					span {
						font-size: 44px;
						font-weight: 700;
						line-height: 1.02;
						letter-spacing: 3.1px;
						position: relative;
						display: inline-block;
						@media (max-width: 767px) {
							font-size: 38px;
							display: table;
						}
						@media (max-width: 540px) {
							font-size: 35px;
						}
						@media (max-width: 380px) {
							font-size: 28px;
						}
						&:after {
							content: '';
							position: absolute;
							width: 100%;
							background: #f6f639;
							height: 20px;
							bottom: -4px;
							right: 0;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}
