.section-yume {
	background: url(../images/section-yume-pattern.png) repeat-x;
	padding: 20px 0 0;
	.section-yume-container {
		background: url(../images/section-museum-pattern.png) repeat-x bottom #ffe6ee;

		.yume-main-image {
			margin: 41px auto 0;
			display: block;
		}
		.yume-description {
			position: relative;
			top: -55px;
			max-width: 550px;
			margin: 0 auto;
			text-align: center;
			font-size: 16px;
		}

		.yume-contact {
			border-top: 1px solid #a8a4a6;
			font-size: 12px;
			line-height: 1.5;
			max-width: 800px;
    		margin: 44px auto 0;
    		padding: 32px 20px 80px;

			.first-section {
				width: 45%;
				float: left;
				p{
					margin: 3px 0;
				}
			}

			.second-section {
				width: 30%;
				float: left;
				p{
					margin: 34px 0 0;
				}
			}

			.last-section {
				width: 25%;
				float: left;

				.button{
					margin: 10px;
				}
			}
		}

		.yume-attraction1 {
			.left-slide {
				width: 43%;
				float: left;
				margin-top: -37px;
    			margin-left: 56px;
			}
			.right-slide {
				width: 50%;
				float: left;
				padding: 5px 0 0;
				max-width: 257px;
			}
			h4 {
				position: relative;
				display: inline-block;
				font-size:22px;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #ff93b3;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
				}
			}
			span {
				display: block;
			}
		}

		.yume-attraction2 {
			.left-slide {
				width: 55%;
				float: left;
				img{
					float: left;
				    margin-left: 70px;
				    margin-top: -26px;
				    margin-right: 0;
				}

				.attraction2-description{
					max-width: 220px;
				    float: left;
				    margin-left: -27px;
				    margin-top: 9px;
				}
			}
			.right-slide {
				width: 45%;
				float: left;
				margin-top: -144px;
			}
			h4 {
				position: relative;
				display: inline-block;
				font-size:22px;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #ff93b3;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
				}
			}
			span {
				display: block;
				text-align: right;
			}
		}

		.yume-attraction3 {
			margin-top: 39px;
			.left-slide {
				width: 49%;
				float: left;

				img{
					margin-left: 70px;
				}
			}
			.right-slide {
				width: 51%;
				float: left;
				margin: 10px 0 0;
				.attraction3-description {
				    max-width: 295px;
					float: left;
					font-size: 14px;
				}

				img{
					margin-top: -52px;
   					margin-left: -48px;
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #ff93b3;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
				}
			}
			span {
				display: block;
			}
		}
	}

	.section-museum-container {
		background: url(../images/section-museum-bottom-pattern.png) repeat-x bottom #deeeff;

		.icon-museum-background {
			margin: 0 auto;
			display: block;
		}
		.museum-description {
			position: relative;
			max-width: 550px;
			margin: 0 auto;
			text-align: center;
			font-size: 16px;
			position: relative;
			i {
				position: absolute;
				left: -270px;
			}
		}

		.museum-contact {
			border-top: 1px solid #a8a4a6;
			font-size: 12px;
			line-height: 1.5;
			max-width: 800px;
    		margin: 44px auto 0;
    		padding: 32px 20px 80px;

			.first-section {
				width: 45%;
				float: left;
				p{
					margin: 3px 0;
				}
			}

			.second-section {
				width: 30%;
				float: left;
				p{
					margin: 34px 0 0;
				}
			}

			.last-section {
				width: 25%;
				float: left;

				.button{
					margin: 10px;
				}
			}
		}

		.museum-attraction1 {
			.left-slide {
				width: 50%;
				float: left;
			}
			.right-slide {
				width: 50%;
				float: left;
			}
			h4 {
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #6fb4ff;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
				}
			}
			span {
				display: block;
			}
		}

		.museum-attraction2 {
			.left-slide {
				width: 50%;
				float: left;
			}
			.right-slide {
				width: 50%;
				float: left;
			}
			h4 {
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #6fb4ff;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
				}
			}
			span {
				display: block;
			}
		}

		.museum-attraction3 {
			position: relative;
			.icon-aeroplane2 {
				position: absolute;
				left: -80px;
				top: -35px;
			}
			.left-slide {
				width: 50%;
				float: left;
			}
			.right-slide {
				width: 50%;
				float: left;
			}
			h4 {
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #6fb4ff;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
				}
			}
			span {
				display: block;
			}
		}
	}
}
