.sche {
	background: url(../images/sche-pattern.png) repeat-x;
	padding: 20px 0;
	.sche-container {
		background: url(../images/sche-container-pattern.png) repeat;
		margin-bottom: -40px;
		padding: 100px 0;
	}
}
