.section-yume {
	background: url(../images/section-yume-pattern.png) repeat-x;
	padding: 20px 0 0;
	margin-top: -17px;
	.main-image {
		display: block;
		margin: 0 auto;
	}
	img {
		@media (max-width: 980px) {
			max-width: 100%;
		}
	}
	.section-yume-container {
		background: url(../images/section-museum-pattern.png) repeat-x bottom #ffe6ee;
		@media (max-width: 980px) {
			padding: 0 20px 0;
		}
		.section-yume-wrap {
			padding: 62px 0 0;
			@media (max-width: 767px) {
				padding: 30px 0 0;
			}
		}
		.yume-main-image {
			margin: 41px auto 0;
			display: block;
			@media (max-width: 767px) {
				margin: 25px auto 0;
				max-width: 100%;
			}
		}
		.yume-description {
			position: relative;
			top: -55px;
			max-width: 550px;
			margin: 0 auto;
			text-align: center;
			font-size: 16px;
			@media (max-width: 767px) {
				margin: 20px auto 10px;
				top: 0;
			}
		}

		.yume-contact {
			border-top: 1px solid #a8a4a6;
			font-size: 12px;
			line-height: 1.5;
			max-width: 800px;
			margin: 44px auto 0;
			padding: 32px 20px 85px;

			.first-section {
				width: 45%;
				float: left;
				padding-right: 15px;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				p {
					margin: 3px 0;
				}
			}

			.second-section {
				width: 30%;
				float: left;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				p {
					margin: 34px 0 0;
					@media (max-width: 767px) {
						margin: 10px 0 0;
					}
				}
			}

			.last-section {
				width: 25%;
				float: left;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				.button {
					margin: 6px;
				}
				img {
					@media (max-width: 767px) {
						display: block;
						margin: 0 auto 20px;
					}
				}
			}
		}

		.yume-attraction1 {
			.left-side {
				width: 49%;
				float: left;
				margin-top: -37px;
				padding: 0 0 0 55px;
				@media (max-width: 980px) {
					padding: 0;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					margin-top: 0;
				}
				img {
					@media (max-width: 767px) {
						display: block;
						width: 100%;
						margin: 0 auto;
					}
				}
			}
			.right-side {
				width: 51%;
				float: left;
				padding: 5px 0 0;
				p {
					max-width: 255px;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					padding: 0;
					margin-top: -27%;
					margin-bottom: 15%;
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				font-size: 22px;
				@media (max-width: 500px) {
					font-size: 17px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #ff93b3;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
					@media (max-width: 500px) {
						height: 5px;
					}
				}
			}
			span {
				display: block;
			}
		}

		.yume-attraction2 {
			@media (max-width: 767px) {
				display: flex;
				flex-flow: column-reverse;
			}
			.left-side {
				width: 52%;
				float: left;
				padding: 0 0 0 75px;
				@media (max-width: 980px) {
					padding: 0;
					width: 54%;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				img {
					float: left;
					margin-top: -26px;
					position: absolute;
					@media (max-width: 767px) {
						width: 100%;
						width: 35%;
						margin-top: 0;
					}
				}

				.attraction2-description {
					float: right;
					margin-left: -27px;
					margin-top: 9px;
					max-width: 240px;
					@media (max-width: 980px) {
						max-width: 225px;
					}
					@media (max-width: 767px) {
						width: 60%;
					}
				}
			}
			.right-side {
				width: 48%;
				float: left;
				margin-top: -144px;
				padding-left: 24px;
				@media (max-width: 980px) {
					margin-top: -85px;
					width: 46%;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					margin-top: 0;
					padding-left: 0;
				}

				img {
					@media (max-width: 767px) {
						display: block;
						width: 100%;
						margin: -60px auto 0;
					}
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				font-size: 22px;
				@media (max-width: 500px) {
					font-size: 17px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #ff93b3;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
					@media (max-width: 500px) {
						height: 5px;
					}
				}
			}
			span {
				display: block;
				text-align: right;
			}
		}

		.yume-attraction3 {
			margin-top: 39px;
			.left-side {
				width: 49%;
				float: left;
				margin: 8px 0 0;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}

				img {
					margin-left: 70px;
					@media (max-width: 980px) {
						margin-left: 0;
					}
					@media (max-width: 767px) {
						margin-left: 0;
						display: block;
						margin: 0 auto;
						width: 100%;
					}
				}
			}
			.right-side {
				width: 51%;
				float: left;
				margin: 10px 0 0;
				position: relative;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					margin: -30px 0 0;
				}
				.attraction3-description {
					float: left;
					font-size: 14px;
				}

				img {
					margin-top: -52px;
					position: absolute;
					right: 82px;
					top: 10px;
					@media (max-width: 980px) {
						right: 0;
					}
					@media (max-width: 767px) {
						margin-top: 0;
						display: block;
						max-width: 100%;
						margin: 0 auto;
						clear: both;
						position: relative;
					}
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				@media (max-width: 500px) {
					font-size: 17px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #ff93b3;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
					@media (max-width: 500px) {
						height: 5px;
					}
				}
			}
			span {
				display: block;
			}
		}
	}

	.section-museum-container {
		background: url(../images/section-museum-bottom-pattern.png) repeat-x bottom #deeeff;
		padding: 62px 0 0;
		@media (max-width: 980px) {
			padding: 62px 20px 0;
		}
		@media (max-width: 767px) {
			padding: 30px 20px 0;
		}

		.museum-main-image {
			margin: 0 auto;
			display: block;
			@media (max-width: 767px) {
				max-width: 100%;
			}
		}
		.museum-description {
			position: relative;
			max-width: 550px;
			margin: 43px auto 54px;
			text-align: center;
			font-size: 16px;
			position: relative;
			padding: 0 0 0 30px;
			@media (max-width: 980px) {
				padding: 0 0 0 47px;
			}
			@media (max-width: 767px) {
				padding: 70px 0 0 0;
				margin: 37px auto 25px;
			}
			i {
				position: absolute;
				left: -238px;
				top: -17px;
				@media (max-width: 980px) {
					left: -144px;
					top: -38px;
				}
				@media (max-width: 767px) {
					left: 0;
					top: 0;
				}
			}
		}

		.museum-contact {
			border-top: 1px solid #a8a4a6;
			font-size: 12px;
			line-height: 1.5;
			max-width: 800px;
			margin: 6px auto 0;
			padding: 32px 20px 67px;

			.first-section {
				width: 45%;
				float: left;
				padding-right: 15px;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				p {
					margin: 3px 0;
				}
			}

			.second-section {
				width: 30%;
				float: left;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				p {
					margin: 34px 0 0;
					@media (max-width: 767px) {
						margin: 10px 0 0;
					}
				}
			}

			.last-section {
				width: 25%;
				float: left;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				.button {
					margin: 10px;
				}
				img {
					@media (max-width: 767px) {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		.museum-attraction1 {
			.left-side {
				width: 49%;
				float: left;
				padding-left: 75px;
				@media (max-width: 980px) {
					padding-left: 0;
					padding-right: 20px;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					padding-right: 0;
				}
				img {
					@media (max-width: 767px) {
						width: 100%;
						margin: 0 auto;
						display: block;
					}
				}
			}
			.right-side {
				width: 51%;
				float: left;
				margin-top: 10px;
				p {
					max-width: 315px;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				@media (max-width: 500px) {
					font-size: 17px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #6fb4ff;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
					@media (max-width: 500px) {
						height: 5px;
					}
				}
			}
			span {
				display: block;
			}
		}

		.museum-attraction2 {
			@media (max-width: 767px) {
				display: flex;
				flex-flow: column-reverse;
			}
			.left-side {
				width: 49%;
				float: left;
				margin: 61px 0 0;
				text-align: right;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					margin: 0;
				}
			}
			.right-side {
				width: 51%;
				float: left;
				padding: 0 0 0 34px;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					padding: 0;
				}
				img {
					margin-top: -112px;
					@media (max-width: 767px) {
						display: block;
						margin: 0 auto;
						width: 100%;
					}
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				@media (max-width: 500px) {
					font-size: 17px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #6fb4ff;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
					@media (max-width: 500px) {
						height: 5px;
					}
				}
			}
			span {
				display: block;
			}
		}

		.museum-attraction3 {
			position: relative;
			.icon-aeroplane2 {
				position: absolute;
				left: -80px;
				top: -35px;
				@media (max-width: 767px) {
					left: 0;
					top: 0;
				}
			}
			.left-side {
				width: 49%;
				float: left;
				padding-left: 75px;
				@media (max-width: 980px) {
					padding-left: 0;
					padding-right: 20px;
				}
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}

				img {
					margin-top: -91px;
					@media (max-width: 767px) {
						margin-top: -24px;
						display: block;
						width: 100%;
					}
					&:first-child {
						margin-top: -103px;
						margin-left: -87px;
						@media (max-width: 767px) {
							display: none;
						}
					}
				}
			}
			.right-side {
				width: 51%;
				float: left;
				margin: 55px 0 0;
				@media (max-width: 767px) {
					width: 100%;
					float: none;
				}
				p {
					max-width: 250px;
				}
				img {
					margin-top: -77px;
					margin-left: 56px;
					@media (max-width: 980px) {
						margin-top: -46px;
						margin-left: 20px;
					}
					@media (max-width: 767px) {
						margin-top: 0;
						display: block;
						max-width: 100%;
						clear: both;
						margin-left: 0;
					}
				}
			}
			h4 {
				position: relative;
				display: inline-block;
				@media (max-width: 500px) {
					font-size: 17px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					background: #6fb4ff;
					height: 10px;
					bottom: 5px;
					right: 0;
					opacity: 0.5;
					@media (max-width: 500px) {
						height: 5px;
					}
				}
			}
			span {
				display: block;
			}
		}
	}
}
