.stage {
	position: relative;
	img {
		margin: 0 auto;
		width: 100%;
	}

	.slick-arrow {
		position: absolute;
		top: 42%;
		z-index: 1;
		font-size: 0;
		border: none;
		background-color: transparent;
	}

	.slick-prev {
		left: 10px;
	}

	.slick-next {
		right: 10px;
	}

	.slider-badge {
		position: absolute;
		top: 15%;
		z-index: 1;
		left: 5%;
	}

	.slider3 .slider-badge,
	.slider4 .slider-badge {
		right: 5%;
		left: auto;
	}

	.slick-dots {
		position: absolute;
		bottom: 10%;
		left: 46%;

		li {
			display: block;
			float: left;
			background: #d6d7ec;
			font-size: 0;
			width: 12px;
			height: 12px;
			margin: 0 10px;
			border-radius: 100px;
			cursor: pointer;

			button {
				background: none;
				border: none;
			}
		}
		li.slick-active {
			background: #1e489d;
		}
	}
}
