.stage {
	position: relative;
	img {
		margin: 0 auto;
		width: 100%;
	}

	.slick-arrow {
		position: absolute;
		top: 42%;
		z-index: 1;
		font-size: 0;
		border: none;
		background-color: transparent;
	}

	.slick-prev {
		left: 10px;
	}

	.slick-next {
		right: 10px;
	}

	.slider-badge {
		position: absolute;
		top: 0;
		z-index: 1;
		left: 50px;
		width: 32%;
		img {
			max-width: 100%;
			width: auto;
		}
	}

	.slider3 .slider-badge,
	.slider4 .slider-badge {
		right: 5%;
		left: auto;
	}

	.slick-dots {
		position: absolute;
		bottom: 16%;
		left: 46%;

		@media (max-width: 767px) {
			bottom: 13%;
		}

		li {
			display: block;
			float: left;
			background: #d6d7ec;
			font-size: 0;
			width: 12px;
			height: 12px;
			margin: 0 10px;
			border-radius: 100px;
			cursor: pointer;
			@media (max-width: 767px) {
				width: 8px;
				height: 8px;
				margin: 0 5px;
			}

			button {
				background: none;
				border: none;
			}
		}
		li.slick-active {
			background: #1e489d;
		}
	}
}
