@import 'fonts';

//Font Families
$font-family-primary: hirakakupro;
$font-family-secondary: shingopro;

//Text
$text-color-base: #00000c;
$text-color-primary: #ff4178;
$text-color-secondary: #007bff;

//Browser width
$desktop-max-width: 960px;
