<!DOCTYPE html>
<html>
<head>
	<title>Hotel Narita</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="styles/vendor.min.css">
	<link rel="stylesheet" type="text/css" href="styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="sprite/sprite.css">
</head>
<body>
	@@include('modules/header.html')
	@@include('modules/stage.html')
	@@include('modules/section-travel.html')
	@@include('modules/section-museum.html')
	@@include('modules/other-attractions.html')
	@@include('modules/about-hotel.html')
	@@include('modules/hotels-slider.html')
	@@include('modules/section-camp.html')
    @@include('modules/footer.html')

    <script type="text/javascript" src="scripts/vendor.min.js"></script>
	<script type="text/javascript" src="scripts/app.min.js"></script>
</body>
</html>