<section class="about">
	<div class="shell clearfix">	
		<div class="about-info">
			<p class="bubble-text">
				<span>10分</span>
				<picture>
				  <source media="(min-width: 768px)" srcset="images/about-hotel-bubble.png">
				  <img src="images/about-hotel-bubble.png" srcset="images/about-hotel-bubble-mobile.png" class="lazyload">
				</picture>
			</p>
			<span class="first-line">キッズ＆パパママも大満足！</span>
			<span class="second-line">成田空港までシャトルバスで</span>
			<span class="last-line">ホテルマイステイズプレミアム成田のすゝめ</span>
		</div>	
		<p class="about-description">ホテルマイステイズプレミア成田は成田国際空港から車で10分の好アクセスに位置し、 空港や最寄り駅からの無料送迎バスも随時運行しています。 早朝便が多いLCCをご利用の方も出発前のひと時をホテルでゆっくりとお過ごしいただけ、大変便利です。</p>

		<div class="first-amenity clearfix">
			<div class="left-side">
				<picture>
				  <source media="(min-width: 768px)" srcset="images/amenity1.jpg">
				  <img src="images/amenity1.jpg" srcset="images/amenity1-mobile.jpg" class="lazyload">
				</picture>
				<p>ホテルマイステイズプレミア成田は成田国際空港から車で10分の好アクセスに位置し、空港や最寄り駅からの無料送迎バスも随時運行しています。 早朝便が多いLCCをご利用の方も出発前のひと時をホテルでゆっくりとお過ごしいただけ、大変便利です。</p>
			</div>
			<div class="right-side">
				<picture>
				  <source media="(min-width: 768px)" srcset="images/about-hotel-map.png">
				  <img srcset="images/about-hotel-map-mobile.png" src="images/about-hotel-map.png" class="lazyload">
				</picture>
				<a href="#">お車でのお越しの方も宿泊中は ホテル内の駐車場XX％OFF</a>
			</div>
		</div>

		<div class="second-amenity clearfix">
			<div class="left-side">
				<picture>
				  <source media="(min-width: 768px)" srcset="images/about-hotel-image1.jpg">
				  <img srcset="images/about-hotel-image1-mobile.jpg" src="images/about-hotel-image1.jpg" class="lazyload">
				</picture>
				<picture>
				  <source media="(min-width: 768px)" srcset="images/about-hotel-image2.jpg">
				  <img srcset="images/about-hotel-image2-mobile.jpg" src="images/about-hotel-image2.jpg" class="lazyload">
				</picture>
			</div>
			<div class="right-side">
				<picture>
				  <source media="(min-width: 768px)" srcset="images/amenity2.jpg">
				  <img srcset="images/amenity2-mobile.jpg" src="images/amenity2.jpg" class="lazyload">
				</picture>
				<p>6:00～10:00の朝食ビュッフェをご利用にならない方には、ホテル内のレストランでランチ・ディナーにご使用いただけるミールチケット（大人2,136円／小学生 1,306円）をご用意。 約70種類の品揃えを誇るビュッフェレストラン「ガーデニア」の他、四季折々のお料理を楽しめる日本料理「あづま」、モダンな店内の中華料理「蓬莱」では空港の夜景を眺めながらお食事いただけます。</p>
			</div>
		</div>

		<div class="third-amenity clearfix">
			<div class="left-side">
				<picture>
				  <source media="(min-width: 768px)" srcset="images/amenity3.jpg">
				  <img srcset="images/amenity3-mobile.jpg" src="images/amenity3.jpg" class="lazyload">
				</picture>
				<p>ホテル内の日本庭園では鯉のエサやりもお楽しみいただけます。プールもお子様に好評です。 飛行機が見えるお部屋もご用意がございますので、成田空港に離発着する飛行機を眺めながらご家族でのんびりとしたお時間をお過ごしいただけます。</p>
			</div>
			<div class="right-side">
				<picture>
				  <source media="(min-width: 768px)" srcset="images/about-hotel-image3.jpg">
				  <img srcset="images/about-hotel-image3-mobile.jpg" src="images/about-hotel-image3.jpg" class="lazyload">
				</picture>
				<picture>
				  <source media="(min-width: 768px)" srcset="images/about-hotel-image4.jpg">
				  <img srcset="images/about-hotel-image4-mobile.jpg" src="images/about-hotel-image4.jpg" class="lazyload">
				</picture>
			</div>
		</div>
	</div>
</section>