<section class="hotels-slider-wrapper clearfix">
	<ul class="hotels-slider">
		<li>
			<picture>
				<source data-srcset="images/hotels-slider1-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/hotels-slider1.jpg" class="lazyload">
			</picture>
		</li>
		<li>
			<picture>
				<source data-srcset="images/hotels-slider2-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/hotels-slider2.jpg" class="lazyload">
			</picture>
		</li>
		<li>
			<picture>
				<source data-srcset="images/hotels-slider3-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/hotels-slider3.jpg" class="lazyload">
			</picture>
		</li>
		<li>
			<picture>
				<source data-srcset="images/hotels-slider4-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/hotels-slider4.jpg" class="lazyload">
			</picture>
		</li>
	</ul>
	<i class="icon-hotels-slider-bubble"></i>
</section>