<section class="other-attractions">
	<div class="shell">
		<h2>Other Recommend Spot</h2>
		<div class="attractions-container">
			<ul>
				<li>
					<img src="images/attraction-1.png" />
					<h4><i class="icon-number-3"></i> 成田空港見学</h4>
					<p>人気の展望デッキや、最先端の旅グッズショップ、和洋食が楽しめるレストランなど見どころ盛りだくさんです。</p>
					<a href="#" class="button">公式サイトへ <span>></span></a>
				</li>
				<li>
					<img src="images/attraction-2.png" />
					<h4><i class="icon-number-4"></i> 成田さくらの山公園</h4>
					<p>成田空港に隣接しているため、飛行機の離着陸が大迫力に撮れるスポットとして有名です。緑豊かな園内には桜だけでなく、四季折々の花が楽しめます。</p>
					<a href="#" class="button">公式サイトへ <span>></span></a>
				</li>
				<li>
					<img src="images/attraction-3.png" />
					<h4><i class="icon-number-5"></i> 佐原</h4>
					<p>“北総の小江戸”と呼ばれる佐原は、風情ある街並みが味わえます。川沿いを舟に乗って散策したり佐原グルメを満喫してみて。</p>
					<a href="#" class="button">公式サイトへ <span>></span></a>
				</li>
			</ul>
		</div>
	</div>
</section>