<div class="popup-container mfp-hide popup" id="popup">
	<div class="popup-form">
	        <div class="popup">
	        	<div class="popup-title">
	        		<p><span>ホテルマイステイズプレミア成田</span>キャンペーン応募フォーム </p>
	        	</div>
	        	<div class="popup-description"><span>下記フォームに必要な情報をご入力ください。 MYSTAYSメールニュースご登録いただいた方より、 抽選で素敵な賞品をプレゼント</span></div>
	        	<h4>ご希望のコース</h4>
	        	<form name="mainForm" id="mainForm" class="clearfix">
					<div class="radio-control">
						<label for="activity1">activity1</label>
						<input type="radio" id="activity1" name="hotel" placeholder="1" />
					</div>
					<div class="radio-control">
						<label for="activity1">activity2</label>
						<input type="radio" id="activity2" name="hotel" placeholder="2" />
					</div>
					<div class="radio-control">
						<label for="activity1">activity3</label>
						<input type="radio" id="activity3" name="hotel" placeholder="3" />
					</div>
					<div class="input-control">
						<label class="text-input" for="firstName">氏名</label>
						<input type="text" id="firstName" name="firstName" placeholder="氏名を入力" />
					</div>
					<div class="input-control">
						<label class="text-input" for="lastName">メールアドレス</label>
						<input type="text" id="lastName" name="lastName" placeholder="メールアドレスを入力" />
					</div>
					<div class="checkbox-control">					
						<input type="checkbox" id="privacyPolicy" name="privacyPolicy" placeholder="privacyPolicy" />
						<label for="privacyPolicy">応募規約・プライバシーポリシーに同意の上、応募します。</label>
					</div>
					<button type="button" class="form-btn">応募する</button>
				</form>
	        </div>
	    </div>
	</div>
</div>