<div class="popup-container mfp-hide popup" id="popup">
	<div class="popup-form">
	        <div class="popup">
	        	<div class="popup-title">
	        		<p><span>test</span>test</p>
	        	</div>
	        	<div class="popup-description"><span>paragraph</span></div>
	        	<h4>heading</h4>
	        	<form name="mainForm" id="mainForm" class="clearfix">
					<div class="radio-control">
						<label for="activity1">activity1</label>
						<input type="radio" id="activity1" name="hotel" value="1" checked />
					</div>
					<div class="radio-control">
						<label for="activity1">activity2</label>
						<input type="radio" id="activity2" name="hotel" value="1" />
					</div>
					<div class="radio-control">
						<label for="activity1">activity3</label>
						<input type="radio" id="activity3" name="hotel" value="1" />
					</div>
					<div class="input-control">
						<label for="firstName">first name</label>
						<input type="text" id="firstName" name="firstName" value="firstName" />
					</div>
					<div class="input-control">
						<label for="lastName">last name</label>
						<input type="text" id="lastName" name="lastName" value="lastName" />
					</div>
					<div class="checkbox-control">					
						<input type="checkbox" id="privacyPolicy" name="privacyPolicy" value="privacyPolicy" />
						<label for="privacyPolicy">Privacy policy</label>
					</div>
					<button type="button" class="form-btn">Submit</button>
				</form>
	        </div>
	    </div>
	</div>
</div>