<section class="sche">
	<div class="sche-container">
		<div class="shell">
			<div class="sche1-wrapper">
				<div class="sche1-container">
					<i class="icon-sche1"></i>
					<span>early check-out style</span>
					<p>早朝に成田空港を出発する場合は、前日に成田ステイをチョイス！ 早めのチェックイン後にのんびり成田を観光、ホテルでゆっくりと家族タイムを過ごせます。</p>
					<i class="icon-sche1-wave"></i>
					<i class="icon-timeline desktop"></i>
					<i class="icon-timeline-mobile mobile"></i>
					<div class="activity-wrapper clearfix">
						<div class="left-side">
							<div class="day1">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day1</span>
							</div>
							<p class="first-section"><span>成田ゆめ牧場 <span>13:00</span></span>
								<img src="images/sche-image2.jpg" class="lazyload">
							</p>							
							<div class="day2">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day2</span>
							</div>
							<p class="last-section"><span>check out <span>7:00</span></span>
								<picture>
									<source data-srcset="images/sche-image3-mobile.jpg" media="(max-width: 767px)" />
									<img data-src="images/sche-image3.jpg" class="lazyload">
								</picture>
								<i class="icon-sche-lines"></i>
							</p>
						</div>
						<div class="right-side">
							<p class="first-section"><span><span>12:30</span> check in</span>
								<img src="images/sche-image1.png" class="lazyload">
							</p>
							<p class="last-section"><span><span>18:00</span> dinner</span>
								<picture>
									<source data-srcset="images/sche-image4-mobile.png" media="(max-width: 767px)" />
									<img data-src="images/sche-image4.png" class="lazyload">
								</picture>
							</p>
						</div>
						<i class="icon-sche-bottom-bubble"></i>
					</div>
				</div>
			</div>

			<div class="sche2-wrapper">
				<div class="sche2-container">
					<i class="icon-sche2"></i>
					<span>nomal check-out style</span>
					<p>家族旅行の最終日はぜひ成田で宿泊を！出発当日はホテルチェックアウト後に成田周辺のスポットで遊んだ後、ゆとりを持って空港へ。</p>
					<i class="icon-sche2-wave"></i>
					<i class="icon-timeline-blue desktop"></i>
					<i class="icon-timeline-blue-mobile mobile"></i>
					<div class="activity-wrapper clearfix">
						<div class="left-side">
							<div class="day1">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day1</span>
								<i class="icon-sche-bottom-bubble"></i>
							</div>

							<div class="day2">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day2</span>
							</div>
							<p class="first-section"><span>morning <span>8:00</span></span>
								<img src="images/sche-image6.jpg" class="lazyload" />
							</p>
							
							<p class="last-section"><i class="icon-sche-aeroplane"></i> <span>成田空港へ <span>16:00</span></span></p>
						</div>
						<div class="right-side">
							<p class="first-section"><span><span>17:30</span> check in</span>
								<picture>
									<source data-srcset="images/sche-image5-mobile.png" media="(max-width: 767px)" />
									<img data-src="images/sche-image5.png" class="lazyload">
								</picture>
							</p>
							<p class="second-section"><span><span>10:00</span> check out</span></p>
							<p class="last-section"><span><span>10:30</span> 航空科学博物館</span>
								<picture>
									<source data-srcset="images/sche-image7-mobile.png" media="(max-width: 767px)" />
									<img data-src="images/sche-image7.png" class="lazyload">
								</picture>
								<i class="icon-sche-bottom-bubble"></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>