<section class="section-yume">
	<div class="section-yume-container">
		<div class="shell">
			<div class="section-yume">
				<img src="images/yume-background.png" class="yume-main-image" />
				<p class="yume-description">季節ごとに様々な遊び方ができる自然たっぷりの牧場です。 牛や馬、ヒツジやうさぎなどかわいくて珍しい動物とたくさん触れ合えます。</p>
				<div class="yume-attraction1 clearfix">
					<div class="left-side">
						<img src="images/yume-image1.png" />
					</div>
					<div class="right-side">
						<span>14:30</span>
						<h4>親子で乳搾りを体験</h4>
						<p>間近で見る大きな牛にびっくり！両手を使ってシュッシュッとリズム良く、うまく搾れるかな？</p>
					</div>
				</div>
				<div class="yume-attraction2 clearfix">
					<div class="left-side">
						<img src="images/yume-image3.png" />
						<div class="attraction2-description">
							<span>15:00</span>
							<h4>アスレチックで遊ぼう</h4>
							<p>大人気の手作りアスレチックで 思う存分体を動かそう！ソリで芝の上を滑る “芝すべり”もスリル満点！</p>
						</div>				
					</div>
					<div class="right-side">
						<img src="images/yume-image2.png" />
					</div>
				</div>
				<div class="yume-attraction3 clearfix">
					<div class="left-side">
						<img src="images/yume-image4.png" />
					</div>
					<div class="right-side">
						<div class="attraction3-description">
							<span>15:30</span>
							<h4>動物たちにご飯をあげよう</h4>
							<p>もこもこ可愛いヤギやヒツジにエサやり体験。 <br/>モルモットやうさぎなどの <br/>小動物とも触れ合えます。</p>
						</div>						
						<img src="images/yume-image5.png" />
					</div>
				</div>
				<div class="yume-contact clearfix">
					<div class="first-section">
						<h4>成田ゆめ牧場</h4>
						<p>【住所】〒289-0111千葉県成田市名木730<br/>
						【電話番号】0476-96-1001<br/>
						【営業時間】9:00～17:00（年中無休）<br/>
						※冬期営業時間 平日10:00～16:00、休日9:30～17:00<br/>
						※入場最終受付 16:00<br/>
						※GWや冬期（12月～2月）等、季節により変動あり</p>
					</div>
					<div class="second-section">
						<p>
							【料金】<br/>
							大人（中学生以上）：1,400円<br/>
							こども（3歳以上）：700円<br/>
							3歳未満：無料<br/>
							65歳以上：1,200円<br/>
							大型犬：1,500円<br/>
							中・小型犬：1,000円
						</p>
					</div>
					<div class="last-section">
						<img src="images/harinezumi.png" />
						<a href="#" class="button">公式サイトへ　<span>></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-museum-container">
		<div class="shell">
			<div class="section-museum">
				<img src="images/museum-background.png" class="museum-main-image" />
				<p class="museum-description"><i class="icon-aeroplane"></i>季節ごとに様々な遊び方ができる自然たっぷりの牧場です。 牛や馬、ヒツジやうさぎなどかわいくて珍しい動物とたくさん触れ合えます。</p>
				<div class="museum-attraction1 clearfix">
					<div class="left-side">
						<img src="images/museum-image1.png" />
					</div>
					<div class="right-side">
						<span>12:00</span>
						<h4>展望デッキで飛行機ウォッチング！</h4>
						<p>成田空港離発着の飛行機が見られる展望デッキ。 轟音と共に空高く飛び上がる飛行機に思わず夢中！</p>
					</div>
				</div>
				<div class="museum-attraction2 clearfix">
					<div class="left-side">
						<span>14:00</span>
						<h4>気分はパイロット！お空を飛ぶよ</h4>
						<p>操縦体験ができる本格的なシュミレーターや<br/> 飛行機のコックピットでハイチーズ。</p>
						
					</div>
					<div class="right-side">
						<img src="images/museum-image2.png" />
					</div>
				</div>
				<div class="museum-attraction3 clearfix">
					<div class="left-side">
						<img src="images/aeroplane2.png" class="aeroplane-img" />
						<img src="images/museum-image3.png" />						
					</div>
					<div class="right-side">
						
						<span>15:30</span>
						<h4>かっこいいヘリコプターもたくさん！</h4>
						<p>中の構造を見学できる実物大の ジャンボジェットや、エンジンなど のりもの大好きキッズの好奇心を 満たす展示物がたくさん！</p>
						<img src="images/museum-image4.png" />
					</div>
				</div>
				<div class="museum-contact clearfix">
					<div class="first-section">
						<h4>航空科学博物館</h4>
						<p> 【住所】〒289-1608 千葉県山武郡芝山町岩山 111-3<br/>
							【電話番号】0479-78-0557<br/>
							【営業時間】10:00～17:00<br/>
							※入場最終受付 16:30<br/>
							※休館日：毎週月曜日（月曜祝日の場合はその翌日）<br/>
							※夏休み期間（7/21～8/31無休）
						</p>
					</div>
					<div class="second-section">
						<p>
							【料金】　<br/>
							大人：500円<br/>
							中高生：300円<br/>
							こども（4歳以上）：200円<br/>
							団体（20名様以上）：20％割引
						</p>
					</div>
					<div class="last-section">
						<img src="images/lunch.png" />
						<a href="#" class="button">公式サイトへ　<span>></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>