<section class="camp">
	<div class="shell">
		<div class="first-section">
			<ul>
				<li>
					<i class="icon-camp1"></i>

					<div class="camp-info">
						<span>A賞</span>
						<p>MSP 成田 + タイ旅行 3泊4日 (ファミリー×5) <span>※初日は成田泊になります。</span></p>
					</div>					
				</li>
				<li>
					<i class="icon-camp2"></i>
					<div class="camp-info">
						<span>B賞</span>
						<p>MSP 成田 + 台湾旅行 3泊4日 (ファミリー×5) <span>※初日は成田泊になります。</span></p>
					</div>					
				</li>
			</ul>
		</div>
		<div class="second-section">
			<ul>
				<li>
					<h3>アタリ</h3>
					<i class="icon-camp3"></i>
					<div class="camp-info">
						<span>C賞</span>
						<p>MSP 成田 + <span> (ファミリー×5)</span></p>
						<p><span>ゆめ牧場 バーベキュー メニュー</span></p>
					</div>					
				</li>
				<li>
					<h3>アタリ</h3>
					<i class="icon-camp4"></i>
					<div class="camp-info">
						<span>D賞</span>
						<p>MSP 成田 + <span>(ファミリー×5)</span></p>
						<p>ゆめ牧場 体験コース</p>
					</div>					
				</li>
				<li>
					<i class="icon-camp5"></i>
					<div class="camp-info">
						<span>E賞</span>
						<p>MSP 成田レストラン 「ガーデニア」ランチバイキング <span>(ファミリー×5)</span></p>
					</div>					
				</li>
			</ul>
		</div>
	</div>
</section>