<section class="travel">
	<div class="shell">
		<p class="travel-description">
			<span>東京の空の玄関口、成田空港周辺にはキッズ＆ファミリーにお勧めの穴場スポットがたくさん！</span>
			<span>お得な食事券もついてくるホテルマイステイズプレミア成田で宿泊すれば、出発日も搭乗時刻までのんびり過ごせます。</span>
			<span>成田ステイという新しい旅の楽しみ方で家族旅行を最初から最後まで楽しめる人気スポットをご紹介します！</span>
		</p>
	</div>
	<div class="travel-container">
		<div class="travel-offer">
			<span>10万円 相当の</span>
			<strong>抽選で <br/> 海外旅行が 当たる	</strong>
			<i class="icon-small-hotel-image"></i>			
		</div>
		<div class="shell">
			<div class="travel-intro">
				<span class="bubble-text">10万円 相当の</span>
				<div class="intro-description">
					<p class="first-line">期間中メールマガジンに登録した方に抽選で</p>
					<p class="second-line">海外旅行が当たる</p>
					<p class="third-line">ホテルマイステイズプレミア成田</p>
					<p class="last-line">成田空港までシャトルバスで10分 <span>詳しくはこちら</span></p>
				</div>
			</div>
		</div>
	</div>
</section>