<section class="camp">
	<div class="shell">
		<div class="camp-title">
			<div class="bubble-text-wrap">
				<span class="bubble-text">今なら</span>
				<i class="icon-camp-title-bubble"></i>
			</div>
			<div class="camp-title-info clearfix">
				<i class="icon-camp-title-lines desktop"></i>
				<i class="icon-camp-title-lines-mobile mobile"></i>
				<p>期間中メールマガジン <br/>に登録した方に抽選で</p>
				<p>ホテルマイステイズプレミアがオススメする <span>海外旅行が当たる</span></p>
			</div>
		</div>
		<div class="first-section clearfix">
			<ul>
				<li>
					<picture>
						<source srcset="images/camp1.jpg" media="(min-width: 767px)" />
						<img srcset="images/camp1-mobile.jpg" src="images/camp1.jpg" class="lazyload">
					</picture>

					<div class="camp-info clearfix">
						<span>A賞</span>
						<p>
							MSP 成田 + タイ旅行 3泊4日 
							<span>(ファミリー×5)</span> 
							<span class="second-line">※初日は成田泊になります。</span>
						</p>
					</div>					
				</li>
				<li>
					<picture>
						<source srcset="images/camp2.jpg" media="(min-width: 767px)" />
						<img srcset="images/camp2-mobile.jpg" src="images/camp2.jpg" class="lazyload">
					</picture>
					<div class="camp-info">
						<span>B賞</span>
						<p>
							MSP 成田 + 台湾旅行 3泊4日 
							<span>(ファミリー×5)</span> 
							<span class="second-line">※初日は成田泊になります。</span>
						</p>
					</div>					
				</li>
				<li class="second-section first-element">
					<h3>アタリ</h3>
					<picture>
						<source srcset="images/camp3.jpg" media="(min-width: 767px)" />
						<img srcset="images/camp3-mobile.jpg" src="images/camp3.jpg" class="lazyload">
					</picture>
					<div class="camp-info clearfix">
						<span>C賞</span>
						<div class="info-wrapper clearfix">
							<p>MSP 成田 + <span> (ファミリー×5)</span></p>
							<p>ゆめ牧場 バーベキュー メニュー</p>
						</div>						
					</div>					
				</li>
				<li class="second-section">
					<h3>アタリ</h3>
					<picture>
						<source srcset="images/camp4.jpg" media="(min-width: 767px)" />
						<img srcset="images/camp4.jpg-mobile" src="images/camp4.jpg" class="lazyload">
					</picture>
					<div class="camp-info clearfix">
						<span>D賞</span>
						<div class="info-wrapper clearfix">
							<p>MSP 成田 + <span>(ファミリー×5)</span></p>
							<p>ゆめ牧場 体験コース</p>
						</div>						
					</div>					
				</li>
				<li class="second-section">
					<picture>
						<source srcset="images/camp5.jpg" media="(min-width: 767px)" />
						<img srcset="images/camp5.jpg-mobile" src="images/camp5.jpg" class="lazyload">
					</picture>
					<div class="camp-info clearfix">
						<span>E賞</span>
						<p>MSP 成田レストラン <br/>「ガーデニア」ランチバイキング<span>(ファミリー×5)</span></p>
					</div>					
				</li>
			</ul>
		</div>
		<div class="camp-bottom-section">
			<p>※画像はイメージです。</p>
			<div class="camp-bottom-info">
				<i class="icon-camp-bubble"></i>
				<p>お申込みはこちらから！</p>
				<a class="button" href="form.html">メールマガジンに登録 <span>></span></a>
				<i class="icon-camp-girl"></i>
			</div>
		</div>
	</div>
</section>