<section class="sche">
	<div class="sche-container">
		<div class="shell">
			<div class="sche1-wrapper">
				<div class="sche1-container">
					<i class="icon-sche1"></i>
					<span>early check-out style</span>
					<p>早朝に成田空港を出発する場合は、前日に成田ステイをチョイス！ 早めのチェックイン後にのんびり成田を観光、ホテルでゆっくりと家族タイムを過ごせます。</p>
					<i class="icon-sche1-wave"></i>

					<div class="activity-wrapper">
						<div class="left-side">
							<div class="day1">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day1</span>
							</div>
							<p>成田ゆめ牧場 <span>13:00</span>
								<img src="images/sche-image2.png" />
							</p>							
							<div class="day2">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day2</span>
							</div>
							<p>check out <span>7:00</span>
								<img src="images/sche-image4.png" />
								<i class="icon-sche-lines"></i>
							</p>
						</div>
						<div class="right-side">
							<p><span>12:30</span> check in
								<img src="images/sche-image1.png" />
							</p>
							<p><span>18:00</span> dinner
								<img src="images/sche-image4.png" />
							</p>
						</div>
						<i class="icon-sche-bottom-bubble"></i>
					</div>
				</div>
			</div>

			<div class="sche2-wrapper">
				<div class="sche2-container">
					<i class="icon-sche2"></i>
					<span>nomal check-out style</span>
					<p>家族旅行の最終日はぜひ成田で宿泊を！出発当日はホテルチェックアウト後に成田周辺のスポットで遊んだ後、ゆとりを持って空港へ。</p>
					<i class="icon-sche2-wave"></i>

					<div class="activity-wrapper">
						<div class="left-side">
							<div class="day1">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day1</span>
							</div>

							<div class="day2">
								<i class="icon-sche-text-bubble"></i>
								<span>#Day2</span>
							</div>
							<p>morning <span>8:00</span>
								<img src="images/sche-image6.png" />
							</p>
							
							<p><i class="icon-sche-aeroplane"></i> 成田空港へ <span>16:00</span></p>
						</div>
						<div class="right-side">
							<p><span>17:30</span> check in
								<img src="images/sche-image5.png" />
							</p>
							<p><span>10:00</span> check out</p>
							<p><span>10:30</span> 航空科学博物館
								<img src="images/sche-image7.png" />
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>