<section class="stage">
	<ul class="stage-slider">
		<li class="slider1">
			<img
				data-srcset="images/slider-1-mobile.png 767w,
					images/slider-1.png 1024w"
				data-src="images/slider-1.png"
				class="lazyload" 
			/>	
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
		<li class="slider2">
			<img
				data-srcset="images/slider-2-mobile.png 767w,
					images/slider-2.png 1024w"
				data-src="images/slider-2.png"
				class="lazyload" 
			/>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
		<li class="slider3">
			<img
				data-srcset="images/slider-3-mobile.png 767w,
					images/slider-3.png 1024w"
				data-src="images/slider-3.png"
				class="lazyload" 
			/>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
		<li class="slider4">
			<img
				data-srcset="images/slider-4-mobile.png 767w,
					images/slider-4.png 1024w"
				data-src="images/slider-4.png"
				class="lazyload" 
			/>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
	</ul>
</section>