<section class="stage">
	<ul class="stage-slider">
		<li class="slider1">	
			<picture>
			  <source media="(max-width: 767px)" srcset="images/slider-1-mobile.jpg">
			  <img src="images/slider-1.jpg">
			</picture>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
		<li class="slider2">
			<picture>
				<source data-srcset="images/slider-2-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/slider-2.jpg" class="lazyload">
			</picture>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
		<li class="slider3">
			<picture>
				<source data-srcset="images/slider-3-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/slider-3.jpg" class="lazyload">
			</picture>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
		<li class="slider4">
			<picture>
				<source data-srcset="images/slider-4-mobile.jpg" media="(max-width: 767px)" />
				<img data-src="images/slider-4.jpg" class="lazyload">
			</picture>
			<div class="slider-badge">
				<img src="images/slider-badge.png" class="lazyload" />
			</div>
		</li>
	</ul>
</section>